* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #EFF0F3;
}

div.header {
  height: 10em;
  background-color: #284121;
  border: 1px solid black;
}

div.header h1.mainTitle {
  color: #ffffff;
  text-align: center;
  margin-top: .6em;
}

div.balance {
  width: 30em;
  margin: auto;
  margin-top: -6em;
}

.balanceTitle {
  color: #ffffff;
}

div.entradas {
  background-color: #ffffff;
  padding: 1em;
  line-height: 2.5em;
  margin-top: 1.5em;
}

div.entradas span {
  font-size: 1.5em;
}

div.saidas {
  background-color: #ffffff;
  padding: 1em;
  line-height: 2.5em;
  margin-top: 1.5em;
}

div.saidas span {
  font-size: 1.5em;
}

div.total {
  background-color: #34811B;
  padding: 1em;
  line-height: 2.5em;
  margin-top: 1.5em;
  color: #ffffff;
}

div.total span {
  font-size: 1.5em;
}
