:root {
  --white: #fff;
  --dark-blue: #363f5f;
  --dark-green: #2D4A22;
  --ice-white: #f0f2f5;
}

/* universal ======================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--ice-white);
  font-family: 'Poppins', sans-serif;
}

h2 {
  margin-bottom: 0.8rem;
  font-weight: 400;
  margin-top: 3.2rem;
  color: var(--dark-blue);
}


/* header ======================= */
header {
  background: var(--dark-green);
  padding: 2rem 0 10rem;
  text-align: center;
}

#logo {
  color: var(--white);
  font-weight: 100;
}


/* main ======================= */
.container {
  width: min(90vw,800px);
  margin: auto;
  margin-top: -8rem;
}


/* balance ======================= */
#balance h2 {
  color: var(--white);
  margin-top: 0;
}


/* cards ======================= */
.card {
  background: var(--white);
  padding: 1.5rem 2rem;
  border-radius: .25rem;

  margin-bottom: 2rem;

  color: var(--dark-blue);
}



/* footer ======================= */
footer {
  text-align: center;
}
